* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.canvas-container {
  visibility: hidden;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  width: 1060px;
  height: 80vh;
  align-items: center;
  border: 1px solid black;
}

.canvas {
  box-shadow: 0px 0px 5px 4px #000000;
}

.canvas-control {
  display: grid;
  gap: 10px;
  grid-template-rows: 1fr 1fr 1fr;
  /* grid-template-columns: repeat(5fr); */
}

.first-text {
  grid-column: 1/5;
}

.btn-swipe {
  grid-row: 2;
  grid-column: 1;
}

.btn-add {
  grid-row: 2;
  grid-column: 3;
}

.btn-remove {
  grid-row: 2;
  grid-column: 4;
}